<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/css")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".side-bar"></button>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".greeting-collapse-class">
				</button>
				@Html.ActionLink("Chess", "Index", "Home", null, new { @class = "navbar-brand" })
			</div>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
	@RenderBody()
	@RenderSection("scripts", required: false)
</body>
</html>
