@Html.AntiForgeryToken()
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
	<ul class="nav navbar-nav navbar-right">
		<li>
			@Html.ActionLink("Здравствуй, Gremlin!", null, null, htmlAttributes: new { title = "Manage", @class = "greating" })
		</li>
	</ul>
}
<ul class="nav navbar-nav navbar-right">
	<li>@Html.ActionLink("Зарегистрироваться", null, null, null, htmlAttributes: new { id = "registerLink" })</li>
	<li>@Html.ActionLink("Войти", null, null, null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Test1", null, null, null, htmlAttributes: new { id = "testLink1" })</li>
    <li>@Html.ActionLink("Test2", null, null, null, htmlAttributes: new { id = "testLink2" })</li>
    <li>@Html.ActionLink("Test3", null, null, null, htmlAttributes: new { id = "testLink3" })</li>
</ul>
